@model IncidentEditViewModel
@{
    string title = Model.operation + " Incident";
    ViewBag.Title = title;
}
<div class="addmargins">
    <div class="container-fluid padding my-4">
        <div class="formWrapping row-md g-2">
            <form asp-controller="Incident" asp-action="Edit" method="post">
                <span class="formTitle row justify-content-center">@title</span>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="Incident.CustomerId" class="form-label">Customer</label>
                        
                        <select asp-for="Incident.CustomerId"  
                                asp-items="@(new SelectList(Model.Customers,
"CustomerId", "FullName", Model.Incident.CustomerId.ToString()))" class="form-select">
                                <option value="0">SELECT CUSTOMER</option>
                        </select>
                        <span asp-validation-for="Incident.CustomerId" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Incident.ProductId" class="form-label">Product</label>
                        <select asp-for="Incident.ProductId" 
                                asp-items="@(new SelectList(Model.Products,
"ProductId", "Name", Model.Incident.ProductId.ToString()))" class="form-select">
                            <option value="0">SELECT PRODUCT</option> 
                        </select>
                        <span asp-validation-for="Incident.ProductId" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Incident.Title" class="form-label">Title</label>
                        <input asp-for="Incident.Title" class="form-control"/>
                        <span asp-validation-for="Incident.Title" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Incident.Description" class="form-label">Description</label>
                        <input asp-for="Incident.Description" class="form-control"/>
                        <span asp-validation-for="Incident.Description" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Incident.TechnicianId" class="form-label">Technician</label>
                        <select asp-for="Incident.TechnicianId"
                                asp-items="@(new SelectList(Model.Technicians,
"TechnicianId", "TechName", Model.Incident.TechnicianId.ToString()))" class="form-control">
                            <option value="">SELECT A TECHNICIAN</option> 
                            
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Incident.DateOpened" class="form-label">Date Opened</label>
                        <input type="datetime-local" asp-for="Incident.DateOpened" class="form-control"/>
                    </div>
                    <div class="col-md-12">
                         <label asp-for="Incident.DateClosed" class="form-label">Date Closed</label>
                          <input type="datetime-local" class="form-control" asp-for="Incident.DateClosed" />
                    </div>
                </div>
                <input asp-for="Incident.IncidentId" type="hidden"/>

                @*action buttons*@
                <div class="row">
                    <div class="col-12 d-grid gap-3 d-lg-flex justify-content-center">
                        <button type="submit" class="btn formbutton rounded-pill accept_color grow">@Model.operation</button>
                        <button class="btn formbutton rounded-pill cancel_color grow" asp-controller="Incident" asp-action="Index">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
