@model IEnumerable<Incident>
@{
    ViewData["Title"] = "Incident Manager";
}
<div class="addmargins">
    <div class="container-fluid padding my-4">
        <div class="container mx-auto my-auto tablebg">
            <ul class="responsive-table">
                <li class="row d-md-flex d-block">
                    <h1 style="color: #FCA311;">Incident Manager</h1>
                </li>
                <li class="row table-header d-md-flex d-none">
                    <div class="col col-3">Title</div>
                    <div class="col col-3">Customer</div>
                    <div class="col col-2">Product</div>
                    <div class="col col-2">Date Opened</div>
                    <div class="col col-2"></div>
                </li>
                @foreach (Incident i in Model)
                {
                    <li class="row table-row d-md-flex d-block">
                        <label class="col d-md-none sneakylabel">Title</label>
                        <div class="col col-md-3 col-12 text-wrap">@i.Title</div>
                        <label class="col d-md-none sneakylabel">Customer</label>
                        <div class="col col-md-3 col-12 text-wrap">@i.Customer.FirstName @i.Customer.LastName</div>
                        <label class="col d-md-none sneakylabel">Product</label>
                        <div class="col col-md-2 col-12 text-wrap">@i.Product.Name</div>
                         <label class="col d-md-none sneakylabel">Product</label>
                         <label class="col d-md-none sneakylabel">Date Opened</label>
                        <div class="col col-md-2 col-12 text-wrap">@i.DateOpened</div>
                        <div class="col-md-2 d-inline-flex justify-content-start">
                            <a asp-controller="Incident" asp-action="Edit" asp-route-id=@i.IncidentId>
                                <i class="fa-solid fa-pen-to-square fa-lg" style="color:#292929; font-size:22px; margin-right: .5rem;"></i>
                            </a>
                            <a asp-controller="Incident" asp-action="Delete" asp-route-id=@i.IncidentId>
                                <i class="fa-solid fa-trash fa-lg" style="color:#CC0000; font-size:22px;"></i>
                            </a>
                        </div>
                    </li>
                }
                <li class="row d-md-flex d-block">
                    <div class="col col-12">
                        <a asp-controller="Incident" asp-action="Add" class="btn formbutton rounded-pill" style="width: 100%;" role="button"> Add Incident</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>