@model Registration
@{
    string title = ViewBag.Action + "Delete";
    ViewBag.Title = title;
}
<div class="addmargins">
    <div class="container my-4 mx-auto">
        <div class="card mx-auto bg-warning" style="width: 25rem;">
          <div class="card-body text-center text-white h-auto">
              <span class="card-header"><i class="fa-solid fa-barcode fa-lg" style="font-size: 3.5rem;"></i></span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Confirm Delete</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Customer</strong> @Model.Customer.FullName</li>
            <li class="list-group-item"><strong>Product Code</strong> @Model.Product.Code</li>
            <li class="list-group-item"><strong>Product Name</strong> @Model.Product.Name</li>
            <li class="list-group-item"><strong>Product Price</strong> @Model.Product.YearlyPrice.Value.ToString("C")</li>
            <li class="list-group-item"><strong>Product Release Date</strong> @Model.Product.ReleaseDate</li>
          </ul>
          <div class="card-body text-center">
            <form asp-controller="Product" asp-action="Delete" method="post">
                <input type="hidden" asp-for="ProductId"/>
                <input type="hidden" asp-for="CustomerId"/>
                <p class="d-inline-flex my-auto">
                    <button type="submit" class="btn formbuttoncircle"><i class="fa-solid fa-circle-check fa-lg" style="color:black;"></i></button>
                    <button class="btn formbuttoncircle" asp-controller="Product" asp-action="Index"><i class="fa-solid fa-xmark fa-lg" style="color:black; font-size: 22px;"></i></button>
                </p>
            </form>
          </div>
        </div>
    </div>
</div>